{{ 'component-kendama-animated-banner.css' | asset_url | stylesheet_tag}}

<section class="margin-vertical-lg">
    <animated-banner>
        <div class="animated-banner__container">
            <div class="animated-banner">
                <span>Featured Products</span>
                <span>Featured Products</span>
                <span>Featured Products</span>
                <span>Featured Products</span>
            </div>
        </div>
    </animated-banner>
</section>

{% javascript %}
    class AnimatedBanner extends HTMLElement {
        constructor() {
            super();
        }
    }
{% endjavascript %}

{% schema %}
{
    "name": "Animated banner",
    "presets": [
        {
            "name": "Animated banner"
        }
    ]
}
{% endschema %} 