.image-with-text__container--reverse .image-with-text__col-1 {
    order: 1;
}

.image-with-text__col-1 {
    display: flex;
    align-items: center;
    position: relative; 
}

.image-with-text__col-1.center {
    justify-content: center;
}

.image-with-text__col-1.left {
    justify-content: flex-start;
}

.image-with-text__col-1.right {
    justify-content: flex-end;
}

.image-with-text__image {
    width: 100%;
    height: 100%;
}

.image-with-text__image.circle {
    width: 50rem;
    height: 50rem;
}

.image-with-text__image.circle img {
    border-radius: 50%;
    height: 100%;
}

.image-with-text__image img,
.image-with-text__image svg {
    object-fit: cover;
}

.image-with-text__image img.box-shadow-one {
    box-shadow: -50px -50px;
}


.image-with-text__image img.box-shadow-two {
    box-shadow: 15px 15px;
}

.image-with-text__content {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.image-with-text__content.center {
    align-items: center;
}

.image-with-text__content.right {
    align-items: flex-end;
}

.image-with-text__content.left {
    align-items: flex-start;
}


.image-with-text__content h1 {
    font-size: 10rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}

.image-with-text__content p {
    width: 80%;
}

.image-with-text__button {
    background-color: var(--primary-green);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px #ddd;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: .8rem 4.5rem; 
    margin: 2rem 0; 
}

@media only screen and (max-width: 56.25em) {
    .image-with-text__container {
        flex-wrap: wrap;
    }

    .image-with-text__col-1 {
        order: 1;
    }

    .image-with-text__content {
        margin-bottom: 3rem;
    }

    .image-with-text__container .flex-item {
        flex-basis: 100%;

    }
}