.image-with-text__container--reverse .image-with-text__col-1 {
    order: 1;
}

.image-with-text__col-1 {
    display: flex;
    align-items: center;
    position: relative; 
}

.image-with-text__col-1.center {
    justify-content: center;
}

.image-with-text__col-1.left {
    justify-content: flex-start;
}

.image-with-text__col-1.right {
    justify-content: flex-end;
}

.image-with-text__image.full-width {
    width: 100%;
}


.image-with-text__image img,
.image-with-text__image svg {
    object-fit: cover;
    width: 100%;
}

.image-with-text__image img.box-shadow {
    box-shadow: -50px -50px;
}

.image-with-text__content {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.image-with-text__content.center {
    align-items: center;
}

.image-with-text__content.right {
    align-items: flex-end;
}

.image-with-text__content.left {
    align-items: flex-start;
}


.image-with-text__content h1 {
    font-size: 10rem;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}

.image-with-text__content p {
    width: 50rem;
}

.image-with-text__button {
    background-color: var(--primary-green);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px #ddd;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: .8rem 3.5rem; 
    margin: 1.3rem 0; 
}