.multicolumn-image h1 {
  text-align: center;
  text-transform: uppercase;
}

.multicolumn-image__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.multicolumn-image__columns .column {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
}

.multicolumn-image__columns .column img {
  object-fit: cover;
}

@media only screen and (max-width: 900px) {
  .multicolumn-image__columns .column {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .multicolumn-image__columns .column {
    flex-basis: 100%;
  }
}
