/*
Breakpoints
400 - 25em
540px - 33.75em
600px - 37.5em
767px - 47.93em
991px - 61.93em
1200px - 75em
1440px - 90em
1600px - 100em
*/

:root {
    --primary-red: #ba2b20;
    --primary-green: #4cd3a1;
    --clr-scheme-background-3: #fa4545;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

/* Color Theme Schemes */

.color-transparent {
    background-color: transparent;
}

.color-background-3 {
    background-color: var(--clr-scheme-background-3);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
    
}

@media only screen and (max-width: 47.9375em) {
    html {
        font-size: 53.125%;
    }
    
}

@media only screen and (max-width: 33.75em) {
    html {
        font-size: 50%;
    }
    
}


body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

p {
    font-size: 2rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 75em) {
    .container {
        width: 94%;
    }
}

.container--md {
    width: 70%;
    margin: 0 auto;
}

.container--sm {
    width: 60%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-col-2 > * {
    flex-basis: 100%;
}

.flex-col-two-thirds .flex-item:first-child {
 flex-basis: 33%;
}

.flex-col-two-thirds .flex-item:nth-child(2) {
    flex-basis: 66%;
}
.flex-col-three-fifths .flex-item:nth-child(2) {
    flex-grow: 1;
}

.flex-col-three-fifths .flex-item:first-child {
    flex-basis: 40%;
}

.margin-vertical-sm {
    margin: 2rem 0;
}

.margin-vertical-md {
    margin: 4rem 0;
}

.margin-vertical-lg {
    margin: 6rem 0;
}

.margin-vertical-xl {
    margin: 8rem 0;
}

.margin-vertical-xxl {
    margin: 12rem 0;
}

h1.heading {
    text-transform: uppercase;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.text-align--center {
    text-align: center;
}

.text-align--left {
    text-align: left;
}

.text-align--right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.section-description {
    margin: 3rem auto 5rem;
    width: 70%;
}

.btn-customer {
    background-color: #2e466b;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    padding: 1rem 2.5rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
}

.btn-customer:focus,
.btn-customer:hover {
    outline: none;
}

.btn--solid {
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px #ddd;
    text-decoration: none;
}

.btn.btn-border-pop,
.btn.btn-background-slide,
.btn.btn-border-underline {
    --border-size: 1px;
    z-index: 1;
    position: relative;
}

.btn.btn-border-pop::before {
    border: var(--border-size) solid var(--primary-red);
    background-color: transparent;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: all .1s ease-in-out;
}

.btn-border-pop:hover::before,
.btn-border-pop:focus::before {
    top: calc(var(--border-size) * -3);
    left: calc(var(--border-size) * -3);    
    right: calc(var(--border-size) * -3);    
    bottom: calc(var(--border-size) * -3);        

}

.btn.btn-background-slide::before {
    background-color: var(--primary-red);
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s ease-in-out;
}

.btn.btn-background-slide.btn--solid::before {
    border-radius: 5px;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
    transform: scaleX(1);
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
    color: #fff;
}

.btn.btn-border-underline::before {
    background-color: var(--primary-red);
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    position: absolute;
    transform: scaleX(0);
    transition: .2s ease-in-out;
}

.btn.btn-border-underline.btn--solid::before {
    border-radius: 5px;
}

.btn.btn-border-underline:hover::before,
.btn.btn-border-underline:focus::before {
    transform: scaleX(1);
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 20000px 0;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 53.125%;
    }
}

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 50%; 
    }
}