:root {
    --primary-red: #ba2b20;
    --primary-green: #4cd3a1;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4.5rem;
}

p {
    font-size: 1.8rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container--md {
    width: 70%;
    margin: 0 auto;
}

.container--sm {
    width: 60%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-col-2 > * {
    flex-basis: 100%;
}

.flex-col-two-thirds .flex-item:first-child {
 flex-basis: 33%;
}

.flex-col-two-thirds .flex-item:nth-child(2) {
    flex-basis: 66%;
}
.flex-col-three-fifths .flex-item:nth-child(2) {
    flex-grow: 1;
}

.flex-col-three-fifths .flex-item:first-child {
    flex-basis: 40%;
}

.margin-vertical-sm {
    margin: 2rem 0;
}

.margin-vertical-md {
    margin: 4rem 0;
}

.margin-vertical-lg {
    margin: 6rem 0;
}

.margin-vertical-xl {
    margin: 8rem 0;
}

h1.heading {
    text-transform: uppercase;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.text-align--center {
    text-align: center;
}

.text-align--left {
    text-align: left;
}

.text-align--right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.section-description {
    margin: 3rem auto 5rem;
    width: 70%;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 20000px 0;
    }
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 53.125%;
    }
}

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 50%; 
    }
}