.collection {
    --color-main: #536162;
    display: flex;
    align-items: flex-start;
}

.collection-filters {
    color: var(--color-main);
    padding: 2rem 3rem;
    background-color: var(--primary-green);
    margin-right: 2rem;
    flex-basis: 30rem;
    height: 120rem;
}

.filters__form {
    display: flex;
    flex-direction: column;
}

.filter__group h1 {
    color: var(--color-main);
    font-size: 2.3rem;
    font-weight: 600;
    margin: .5rem 0;
    text-transform: uppercase;
}

.filter__group {
    margin-bottom: 5rem;
}


.filter__list {
    list-style: none;
}

.filter__list-item {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter__checkbox {
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 50%;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .2s;
}

.filter__checkbox:hover {
    background-color: rgba(243, 244, 237, .4)
}

.filter__checkbox.active {
    background-color: #fff;
}

.filter__list-item input {
    opacity: 0;
}

.filter__group--price {
    order: 1;
}

.products-container {
    flex: 1;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.price-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.price-fields svg {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}

.price-field {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #B2B1B9;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    width: 100%;
}

.price-field__input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--color-main);
    outline: none;
    font-size: 1.5rem;
    flex: 1;
}

.price-field__input::placeholder {
    color: var(--color-main);
}

.price-field__input:focus,
.price-field__input:active {
    box-shadow: none;
    border: none;
    outline: none;
}
 
.price-field__currency {
    font-size: 1.5rem;
    margin-right: .2rem;
}

